<title>Full-Screen Hero</title>
<link rel="stylesheet" href="welcome-banner.component.css" />

<body>
  <section class="hero">
    <div class="hero-content">
      <h1>Tu nuevo hogar en Buenos Aires</h1>
      <p>Atencion preferencial para el adulto mayor</p>
      <button class="contact-button">Ponte en Contacto</button>
    </div>
  </section>

  <section class="content">
    <h2>Atención personalizada, calidez humana ❤️ </h2>
    <p> En Complejo del Este brindamos cuidado integral a personas mayores, combinando atención médica especializada,
      actividades recreativas y un entorno familiar que prioriza el bienestar y la dignidad de cada residente.</p>
  </section>

  <section class="content">
  <h2> Instalaciones </h2>
  <p>Contamos con infraestructura de primera linea para el cuidado y la comodidad de todos los residentes, espaciosas
    habitaciones, salones comunes y un hermoso espacio verde para la recreación y el descanso</p>
  </section>
</body>